//base styles
*, *:before, *:after {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  @include p2;
  background-color: $blue;
}

p {
  margin: 1.25em 0;
}

a {
	color: inherit;
  transition: color $hover-transition;

  &:hover {
    color: $white;
    .underline {
      border-color: $white;
    }
  }
}

img {
  height: auto;
	max-width: 100%;
}

.centered {
  text-align: center;
}

.highlight {
  background: linear-gradient(to top, transparent 0, transparent 5%, $blue 5%, $blue 35%, transparent 35%, transparent 100%);
}

.underline {
  border-bottom: 2px solid $black;
  transition: border-color $hover-transition;
}

.single-line-md {
  @include media-md {
    display: block;
  }
}

.button {
  @include h3;
  padding: 12px;
  display: block;
  margin: 30px 0;
  text-align: center;
  border-radius: 24px;
  text-decoration: none;
  border: 3px solid black;
  transition: color $hover-transition, background-color $hover-transition;

  &:hover {
    color: $blue;
    background-color: $black
  }
}

.user-content {
  h1,h2,h3,h4,h5,h6 {
    @include h3;
  }
  ul {
    margin: 30px 0 18px;
    padding-left: 0;
    list-style: none;
    li {
      &:before {
        content: '— ';
      }
    }
    h3 {
      margin: 0;
    }
  }
}

.site-main {
  @include media-md {
    margin-left: 270px; //22.5%;
  }
}

.site-section {
  position: relative;
  padding: 56px 40px;
  @include media-md {
    padding: 60px;
  }
  @include media-lg {
    padding-left: 330px;
  }

  &:nth-of-type(even) {
    background-color: $white;
    background-image: url('../images/background.svg');
    background-size: 160px;
  }

  &:nth-of-type(odd) {
    background-color: $blue-lite;
  }

  .section-title {
    @include h2;
    margin: 0 0 30px;

    @include media-lg {
      top: 0;
      left: 0;
      width: 330px; //27.5%;
      padding: 60px;
      max-width: 330px;
      position: absolute;
    }
  }

  .section-content {
    @include media-md {
      max-width: 464px;
    }

    p { 
      margin: 18px 0;
    }

    p:first-child {
      margin-top: 0;

      @include media-md {
        @include p1;
      }
    }
  }

  &.-headline {
    @include p1;
    padding-top: 205px;
    background-color: inherit;

    @include media-md {
      padding-top: 87px;
    }

    p:first-child {
      @include h2;
      margin: 0 0 35px;

      @include media-md {
        @include h1;
      }
    }
  }
}



