#breakpoint-indicator{ // We can use this to tell JS which breakpoint we are on! Nifty!
  width: 0;
  height: 0;
  overflow: hidden;
  visibility: hidden;
  &::after {
    @include media-sm {
      content: 'small';
    }
    @include media-md {
      content: 'medium';
    }
    @include media-lg {
      content: 'large';
    }
  }
}