// Footer

.site-footer {
  @include h3;
  z-index: 10;
  color: $white;
  min-height: 192px;
  position: relative;
  background-color: $black;
  @include clearfix;

  a {
    text-decoration: none;
    &:hover {
      color: $blue;
    }
  }

  .logo-block{
    padding: 36px;
    text-align: center;

    @include media-md {
      text-align: left;
      float: left;
      width: 270px;
      padding-top: 36px;
      padding-left: 120px;
    }

    .logo { 
      width: 57px;
      fill: $white;
      transition: fill $hover-transition;
      &:hover{
        fill: $blue;
      }
    }
  }
  .contact-block {
    float: left;
    width: 100%;
    text-align: center;
    padding-bottom: 120px;
    @include media-md {
      padding: 60px 0;
      text-align: left;
      max-width: 464px;
      margin-left: 60px;
    }
    @include media-lg {
      margin-left: 330px;
    }
    .phone, .email {
      @include media-md {
        display: inline-block;
      }
    }
    .email {
      @include media-md{
        width: 246px;
      }
    }
  }
}