  // Variables

// Colors
$black: #000;
$white: #fff;
$blue: rgb(125,204,242);
$blue-lite: rgb(174,223,248);

// Breakpoints
$bpSm: 400px;
$bpMd: 700px;
$bpLrg: 900px;
$bpHuge: 1200px;

// Animation
$hover-transition: 0.2s ease-out;