  // Variables

// Colors
$black: #000;
$white: #fff;
$blue: rgb(125,204,242);
$blue-lite: rgb(174,223,248);

// Breakpoints

$breakpoint-md: 860px;
$breakpoint-lg: 1200px;

// Animation
$hover-transition: 0.2s ease-out;